<div class="container mt-5">
  <!-- <button (click)="get404Error()" class="btn btn-outline-primary me-3">Test 404 error</button>
  <button (click)="get500Error()" class="btn btn-outline-primary me-3">Test 500 error</button>
  <button (click)="get400Error()" class="btn btn-outline-primary me-3">Test 400 error</button>
  <button (click)="get400ValidationError()" class="btn btn-outline-primary me-3">Test 400 Validation error</button> -->
  <h1>About Us</h1>
  <br>
  <p>Welcome to our website, your trusted destination for all things electronic. We are a team of dedicated individuals with a shared passion for technology, and our mission is to provide you with the best electronics and gadgets on the market. <br><br> Our commitment is simple yet unwavering- to provide you with a wide range of electronic products that cater to your needs and interests. We understand that electronics play a crucial role in modern life, and we're here to make sure you have access to the latest and greatest at competitive prices.</p>

  <h2>Why choose us</h2>
  <p>1. Quality Assurance: We carefully select and review each product to ensure it meets our high standards for quality. <br><br>
    2. Affordable Choices: We believe that cutting-edge technology should be accessible to everyone, so we offer competitive prices. <br><br>
    3. Dedicated Support: Our customer service team is here to assist you with any questions or concerns. <br><br>
    4. Stay Informed: We keep you updated on the latest tech trends and product releases.
    5. Secure Shopping: Your online security is our top priority, and we employ industry-standard security measures to protect your information.
    <br><br>Join us on our journey as we continue to expand our electronic product offerings and serve your tech needs. Whether you're an experienced techie or just beginning your exploration, we're here to help you find the perfect gadgets and electronics for your lifestyle.
    
    Thank you for choosing our website as your go-to electronic shop. We look forward to being your trusted source for all things tech.</p>

</div>